BASE_URL=
BACKSTAGE_AUTH_SECRET=

GITHUB_PERSONAL_ACCESS_TOKEN=

TEMPLATE_URL=https://github.com/q-shift/qshift-templates/blob/main/qshift/all.yaml


ARGOCD_SERVER=https://openshift-gitops-server-openshift-gitops.apps.qshift.snowdrop.dev
ARGOCD_ADMIN_USER=admin
ARGOCD_ADMIN_PASSWORD=

KUBERNETES_API_URL=https://kubernetes.default.svc
SERVICE_ACCOUNT_TOKEN=
