BACKSTAGE_APP_BASE_URL="https://backstage-<NAMESPACE>.apps.<OCP_CLUSTER_DOMAIN>/" where <OCP_CLUSTER_DOMAIN> corresponds to the OpenShift domain: apps.qshift.snowdrop.dev OR "http://localhost:3000"
BACKSTAGE_BACKEND_BASE_URL="https://backstage-<NAMESPACE>.apps.<OCP_CLUSTER_DOMAIN>/" where <OCP_CLUSTER_DOMAIN> corresponds to the OpenShift domain: apps.qshift.snowdrop.dev OR "http://localhost:7007"

BACKSTAGE_AUTH_SECRET="Execute this command from a terminal to get a crypto password: node -p 'require("crypto").randomBytes(24).toString("base64")'"

GITHUB_PERSONAL_ACCESS_TOKEN="See the GitHub documentation: https://backstage.io/docs/getting-started/config/authentication/#setting-up-a-github-integration"

TEMPLATE_URL=https://github.com/q-shift/backstage-playground/blob/main/locations/root.yaml

ARGOCD_SERVER=https://openshift-gitops-server-openshift-gitops.apps.qshift.snowdrop.dev
ARGOCD_ADMIN_USER=admin
ARGOCD_ADMIN_PASSWORD="Execute this command from a terminal to get the password: kubectl -n openshift-gitops get secret/openshift-gitops-cluster -ojson | jq -r '.data."admin.password" | @base64d'"

KUBERNETES_API_URL="https://kubernetes.default.svc OR https://api.<OCP_CLUSTER_DOMAIN>:6443"
KUBERNETES_TOKEN="Execute this command from a terminal to get the token: kubectl get secret $(kubectl get secret | grep my-backstage-token | cut -f1 -d " ") -o go-template='{{.data.token | base64decode}}'"
