BASE_URL=<localhost vs https://openshift_backstage_route>
BACKSTAGE_AUTH_SECRET=<node -p 'require("crypto").randomBytes(24).toString("base64")'>

GITHUB_PERSONAL_ACCESS_TOKEN=<see https://backstage.io/docs/getting-started/configuration/#setting-up-a-github-integration>

TEMPLATE_URL=https://github.com/q-shift/qshift-templates/blob/main/qshift/all.yaml


ARGOCD_SERVER=https://openshift-gitops-server-openshift-gitops.apps.qshift.snowdrop.dev
ARGOCD_ADMIN_USER=admin
ARGOCD_ADMIN_PASSWORD=<kubectl -n openshift-gitops get secret/openshift-gitops-cluster -ojson | jq '.data."admin.password" | @base64d'>

KUBERNETES_API_URL=https://kubernetes.default.svc
SERVICE_ACCOUNT_TOKEN=<kubectl -n backstage get secret my-backstage-token-xxx -o go-template='{{.data.token \| base64decode}}'>
